absl-py==1.2.0
aenum==3.1.15
aiodns==3.0.0
aiohttp==3.8.4
aiosignal==1.2.0
alabaster==0.7.12
altair==4.2.0
amqp==5.0.9
anyio==4.0.0
anyjson==0.3.3
appdirs==1.4.4
apt-xapian-index==0.49
arandr==0.1.10
argcomplete==2.1.2
argon2-cffi==21.1.0
arrow==1.2.3
asciinema==2.1.0
asgiref==3.5.2
asn1crypto==1.4.0
asteval==0.9.31
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrdict==2.0.1
attrs==23.1.0
Automat==20.2.0
autopage==0.4.0
axidrawinternal @ file:///tmp/pip-req-build-wxqzgvtn/prebuilt_dependencies/axidrawinternal-3.9.4-py2.py3-none-any.whl
Babel==2.8.0
backcall==0.2.0
backup2swift==0.8
base58==2.1.1
bases==0.2.1
bcc==0.18.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
billiard==3.6.4.0
bitarray==2.6.0
black==23.1.0
blake2b-py==0.1.3
bleach==4.1.0
bleak==0.20.2
blinker==1.4
borgbackup==1.2.0
branca==0.6.0
Brotli==1.0.9
build==0.10.0
CacheControl==0.13.1
cached-property==1.5.2
cachetools==5.2.0
canvasapi==2.2.0
canvaslms==2.10
ccxt==2.9.12
celery==5.2.3
certifi==2022.12.7
certora-cli==3.4.0
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
cleo==2.0.1
click==8.1.3
click-didyoumean==0.0.3
click-log==0.2.1
click-plugins==1.1.1
click-repl==0.2.0
click-threading==0.5.0
cliff==3.10.0
cmd2==0.0.0
colorama==0.4.4
command-not-found==0.3
commonmark==0.9.1
conda-package-handling==1.7.3
configobj==5.0.6
constantly==15.1.0
construct==2.10.68
coverage==7.3.1
cracklib==2.9.6
crashtest==0.4.1
cryptography==37.0.4
css-parser==1.0.7
cssutils==1.0.2
cupshelpers==1.0
cycler==0.11.0
cytoolz==0.12.0
dag-json==0.1
datasets==2.4.0
dbus-fast==1.86.0
dbus-python==1.2.18
debtcollector==2.3.0
debugpy==1.6.2
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dell-recovery==0.0.0
Deprecated==1.2.13
deprecation==2.0.7
devscripts===2.22.1ubuntu1
dill==0.3.5.1
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.2.1
docker==6.0.0
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
dogpile.cache==1.1.4
dulwich==0.21.5
duplicity==0.8.21
ecdsa==0.18.0
ECPy==1.2.5
EditorConfig==0.12.3
entrypoints==0.4
ephem==4.1.3
eth-abi==4.1.0
eth-account==0.9.0
eth-accounts==20191227
eth-bloom==1.0.4
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.4.0
eth-utils==2.2.0
eth-vertigo==1.3.0
euclid3==0.1
exceptiongroup==1.1.3
exchangelib==4.9.0
fail2ban==0.11.2
fasteners==0.14.1
feedgenerator==2.0.0
feedparser==6.0.8
fido2==0.9.1
filelock==3.12.2
fireblocks==1.0.1
fireblocks-sdk==1.22.1
Flask==2.1.3
folium==0.14.0
fonttools==4.29.1
frontmatter==3.0.7
frozendict==2.3.8
frozenlist==1.3.1
fs==2.4.12
fsspec==2022.7.1
fusepy==3.0.1
future==0.18.2
fuzzywuzzy==0.18.0
gajim==1.3.3
gast==0.5.2
gcodeparser==0.1.1
geographiclib==2.0
geopy==2.3.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-compute==1.14.1
googleapis-common-protos==1.59.0
GoogleBard==2.1.0
gpg==1.16.0
greenlet==1.1.2
grpcio==1.59.3
grpcio-status==1.59.3
gssapi==1.6.12
gWakeOnLAN==0.7.0
h11==0.13.0
h2==4.1.0
hexbytes==0.3.0
hidapi==0.13.1
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
htmllistparse==0.6.0
HTMLParser==0.0.2
httpcore==0.18.0
httpie==2.6.0
httplib2==0.20.2
httpx==0.25.0
huggingface-hub==0.8.1
hyperframe==6.0.1
hyperlink==21.0.0
icalendar==4.1.0
ics==0.7.2
idna==3.4
ifaddr==0.1.7
imageio==2.21.1
imagesize==1.3.0
IMAPClient==2.3.1
imaplib2==3.5
importlib-metadata==6.6.0
incremental==21.3.0
iniconfig==1.1.1
ink-extensions==1.3.2
installer==0.7.0
intelhex==2.3.0
iotop==0.6
ipfs-api==0.2.3
ipfs-cid==1.0.0
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==7.7.1
iso8601==1.0.2
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==0.17.0
jsbeautifier==1.14.6
jsonpatch==1.32
jsonpath-rw==1.4.0
jsonpointer==2.0
jsonschema==4.17.3
jsonschema-specifications==2023.7.1
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
kaitaistruct==0.9
kazam==1.4.5
keyring==24.2.0
keystoneauth1==4.4.0
kiwisolver==1.3.2
kombu==5.2.3
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
ldap3==2.9.1
ledgerblue==0.1.47
ledgerwallet==0.3.0
lesspass==10.2.1
libusb1==3.0.0
llfuse==1.3.8
lockfile==0.12.2
loguru==0.6.0
lru-dict==1.1.8
lxml==4.9.2
lz4==3.1.3+dfsg
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==2.2.0
Markups==3.1.3
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
maturin==0.13.2
mdurl==0.1.2
mechanize==0.4.7
meld==3.20.4
mercurial==6.1.1
meson==0.61.2
minidb==2.0.7
mistune==0.8.4
mitmproxy==8.1.1
mnemonic==0.20
mock==4.0.3
monotonic==1.6
more-itertools==8.10.0
morphys==1.0
mpmath==0.0.0
msgpack==1.0.3
multiaddr==0.0.9
multidict==6.0.2
multiformats==0.2.1
multiformats-config==0.2.0.post4
multiprocess==0.70.13
munch==2.5.0
musicbrainzngs==0.7.1
mutagen==1.45.1
mypy-extensions==1.0.0
natsort==8.0.2
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nbxmpp==2.0.4
ndeflib==0.3.3
nest-asyncio==1.5.4
netaddr==0.8.0
netifaces==0.11.0
networkx==2.4
nfcpy==1.0.4
nose==1.3.7
notebook==6.4.8
notmuch==0.35
notmuch2==0.35
ntlm-auth==1.5.0
numpy==1.22.3
oaiharvest==3.0.0
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
openai==0.27.7
openstacksdk==0.61.0
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.i18n==5.1.0
oslo.log==4.6.1
oslo.serialization==4.2.0
oslo.utils==4.12.2
outcome==1.1.0
packaging==23.0
pandas==1.4.3
pandocfilters==1.5.0
paramiko==2.9.3
parsimonious==0.9.0
parso==0.8.1
passlib==1.7.4
pathspec==0.11.0
pathtools==0.1.2
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkginfo==1.9.6
platformdirs==3.9.1
plotink==1.8.0
pluggy==0.13.0
ply==3.11
pnoise==0.2.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
precis-i18n==1.0.2
prettytable==2.5.0
progressbar==2.5
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.38
proto-plus==1.22.3
protobuf==4.24.1
psutil==5.9.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pwquality==1.4.4
py==1.10.0
py-ecc==1.7.1
py-evm==0.3.0a15
py-ipfs-cid==0.1.0
py-multihash==2.0.1
py-solc-x==1.0.0
py3-validate-email==1.0.5.post1
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAudio==0.2.11
pycairo==1.20.1
pycares==4.3.0
pychess==1.0.0
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pydeck==0.7.1
pyDes==2.0.1
pyelftools==0.29
pyenchant==3.2.0
pyethash==0.1.27
pyevmasm==0.2.3
pyfuse3==3.2.0
PyGithub==1.55
Pygments==2.14.0
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pykeepass==4.0.3
pykerberos==1.1.14
pylibacl==0.6.0
Pympler==1.0.1
PyNaCl==1.5.0
pyoai==2.5.0
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pypandoc==1.11
pyparsing==2.4.7
pyperclip==1.8.2
pyproject_hooks==1.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQt6==6.4.0
PyQt6-Qt6==6.4.0
PyQt6-sip==13.4.0
PyQtWebEngine==5.15.5
Pyro4==4.82
pyrsistent==0.18.1
pyscard==2.0.2
pyserial==3.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
pystache==0.6.0
pyte==0.8.0
pytest==6.2.5
pytest-runner==2.11.1
python-apt==2.4.0+ubuntu2
python-axolotl==0.2.3
python-axolotl-curve25519==0.4.1.post2
python-cinderclient==8.3.0
python-dateutil==2.7.5
python-debian==0.1.43+ubuntu1.1
python-debianbts==3.2.0
python-dotenv==0.19.2
python-glanceclient==3.6.0
python-gnupg==0.4.8
python-keystoneclient==4.4.0
python-Levenshtein==0.12.2
python-magic==0.4.24
python-markdown-math==0.8
python-memcached==1.58
python-neutronclient==7.8.0
python-novaclient==17.6.0
python-openstackclient==5.8.0
python-potr==1.0.2
python-u2flib-host==3.0.3
pythran==0.10.0
pytils==0.4.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyunormalize==15.0.0
PyWavelets==1.3.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.1
pyzmq==22.3.0
qrcode==7.3.1
quodlibet==4.4.0
rapidfuzz==2.15.1
rdiff-backup==2.0.5
Recoll==1.31.6
recollchm==0.8.4.1+git
referencing==0.30.2
regex==2023.8.8
rencode==1.0.6
reportbug===11.4.1ubuntu1
requests==2.31.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requestsexceptions==1.4.0
responses==0.18.0
ReText==8.0.0
rfc3986==1.5.0
rich==13.3.1
rlp==3.0.0
roman==3.3
rpds-py==0.9.2
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
rubber==1.6.0
scikit-image==0.19.3
scikit-learn==0.23.2
scipy==1.8.0
scour==0.38.2
SecretStorage==3.3.1
segno==1.5.2
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.1b0
sentencepiece==0.1.97
sentry-sdk==1.9.3
seqeval==1.2.2
serpent==1.40
service-identity==18.1.0
setproctitle==1.3.1
sgmllib3k==1.0.0
shamir-mnemonic==0.2.2
shapely==2.0.1
shellingham==1.5.3
shortuuid==1.0.9
simplegeneric==0.8.1
simplejson==3.17.6
simpy==3.0.11
six==1.16.0
sly==0.4
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
socksio==1.0.0
solc-select==0.2.1
sortedcontainers==2.4.0
sos==4.5.6
soupsieve==2.3.1
Sphinx==4.3.2
SQLAlchemy==1.4.31
sqlparse==0.4.2
ssh-import-id==5.11
stevedore==3.5.0
svgelements==1.9.6
svgwrite==1.4.3
swiftsc==0.5
sympy==1.9
systemd-python==234
tabulate==0.8.10
TatSu==5.8.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
terminado==0.13.1
terminator==2.1.1
testpath==0.5.0
textile==4.0.2
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2022.8.12
tls-client==0.2.2
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tools==0.1.9
toolz==0.12.0
torch==1.12.1
tornado==6.1
tpm2-pkcs11-tools==1.33.7
tqdm==4.66.1
Trac==1.5.3
traitlets==5.1.1
transformers==4.21.1
trie==1.4.0
trio==0.19.0
trove-classifiers==2023.8.7
Twisted==22.1.0
typing-validation==1.0.0.post2
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unidiff==0.5.5
UNKNOWN @ https://cdn.evilmadscientist.com/dl/ad/public/AxiDraw_API.zip
uritemplate==3.0.1
urllib3==2.0.7
urwid==2.1.2
urwidtrees==1.0.3.dev0
usb-creator==0.3.7
validators==0.20.0
varint==1.0.2
vboxapi==1.0
vdirsyncer==0.18.0
vine==5.0.0
virtualenv==20.24.0
vpype==1.13.0
vpype-gcode==0.13.0
wadllib==1.3.6
wajig==4.0.3
wandb==0.13.1
warlock==1.3.3
watchdog==2.1.9
wcwidth==0.2.6
web3==6.8.0
webencodings==0.5.1
weblogin==1.5
websocket-client==1.2.3
websockets==11.0.3
Werkzeug==2.2.2
whois==0.9.27
widgetsnbextension==3.6.1
wrapt==1.13.3
wsproto==1.1.0
wxPython==4.0.7
xdg==5
xdot==1.2
xkit==0.0.0
xmldiff==2.4
xxhash==3.0.0
yarl==1.8.1
yt-dlp==2023.11.14
yubikey-manager==4.0.7
zeroconf==0.38.3
zim==0.74.3
zipp==1.0.0
zope.interface==5.4.0
zstandard==0.18.0
